<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="dev" connectionString="{CONNECTION_STRING}" />
	</connectionStrings>
	<appSettings>
		<add key="resQuestions" value="Questions"/>
		<add key="databaseName" value="IceBreakerDB"/>
		<add key="filePath" value="MyQuestions.txt"/>
	</appSettings>
</configuration>